<div class="jumbotron">
		<div class="row">
			<div class="col-xs-4">
				<h2>Location: (Example lat/long)</h2>
				<form role="form" class="form-inline">
					<input type="double" ng-model="lat" class="form-control" id="lat" placeholder="Latitude">
					<input type="double" ng-model="long" class="form-control" id="long" placeholder="Longitude">
				</form>
			</div>
			<div class="col-xs-4">
				<h2>Category</h2>
				<select class="form-control" ng-model="selectedCat" ng-options="f.categoryName for f in categories"></select>
			</div>
			<div class="col-xs-4">
				<h2>Sort By:</h2>
				<button ng-click="geo(); sort = 'distance'" class="btn btn-default">Distance</button>
				<button ng-click="rating(); sort = ''" class="btn btn-default">Rating</button>
				<button ng-click="review(); sort = ''" class="btn btn-default">Review Count</button>
			</div>
	</div>
</div>

<table class="table tabe-striped">
	<thead>
		<td>Name</td>
		<td>Address</td>
		<td>City</td>
		<td>Stars</td>
		<td>Reviews</td>
		<td>Distance</td>
		<td>Open</td>
	</thead>
	<tr ng-repeat="business in businesses | orderBy:sort">
		<td>{{business.name}}</td>
		<td>{{business.full_address}}</td>
		<td>{{business.city}}</td>
		<td>{{business.stars}}</td>
		<td>{{business.review_count}}</td>
		<td>{{business.distance}}</td>
		<td>{{business.open}}</td>
	</tr>
</table>