<div class="jumbotron">
	<div class="row">
		<div class="col-xs-1">
			<center><h3>List:</h3></center>
		</div>
		<div class="col-xs-5">
			<center><button type="button" class="btn btn-default">Steady Improvement</button></center>
		</div>
		<div class="col-xs-5">
			<center><button type="button" class="btn btn-default">Best of June 2011</button></center>
		</div>
	</div>
</div>

<table class="table tabe-striped">
	<thead>
		<td>Name</td>
		<td>Address</td>
		<td>City</td>
		<td>Stars</td>
		<td>Reviews</td>
		<td>Open</td>
	</thead>
	<tr ng-repeat="business in businesses">
		<td>{{business.name}}</td>
		<td>{{business.address}}</td>
		<td>{{business.city}}</td>
		<td>{{business.stars}}</td>
		<td>{{business.reviews}}</td>
		<td>{{business.open}}</td>
	</tr>
</table>