<div class="jumbotron">
	<div class="row">
		<div class="col-xs-12">
			<h3>Funniest Reviews</h3>
		</div>
	</div>
</div>

<table class="table tabe-striped">
	<thead>
		<td>User</td>
		<td>Review</td>
		<td>Stars</td>
		<td>Date</td>
		<td>'Funny' Votes</td>
	</thead>
	<tr ng-repeat="review in reviews" style="display:table-row;">
		<td syle="width: 80px;">{{review.user_name}}</td>
		<td style="max-width: 200px;">{{review.text}}</td>
		<td>{{review.stars}}</td>
		<td>{{review.postDate}}</td>
		<td>{{review.funny}}</td>
	</tr>
</table>