<div class="jumbotron">
	<div class="row">
		<div class="col-xs-1">
			<center><h3>Sort By:</h3></center>
		</div>
		<div class="col-xs-2">
				<center><button ng-click="rating()" class="btn btn-default">Rating</button></center>
		</div>
		<div class="col-xs-2">
				<center><button ng-click="review()" class="btn btn-default">Review Count</button></center>
		</div>
		<div class="col-xs-4">
			<center><form role="form" class="form-inline">
				<input type="double" ng-model="lat" class="form-control" id="lat" placeholder="Latitude">
				<input type="double" ng-model="long" class="form-control" id="long" placeholder="Longitude">
				<button ng-click="geo()" class="btn btn-default">Submit</button>
			</form></center>
		</div>
		<div class="col-xs-2">
			<center>
				<span>
					<select class="form-control" ng-model="selectedCat" ng-options="f.categoryName for f in categories" required>
						<option value="">-- choose value --</option>
					</select>
				</span>
			<center>
		</div>
	</div>
</div>

<table class="table tabe-striped">
	<thead>
		<td>Name</td>
		<td>Address</td>
		<td>City</td>
		<td>Stars</td>
		<td>Reviews</td>
		<td>Open</td>
	</thead>
	<tr ng-repeat="business in businesses">
		<td>{{business.name}}</td>
		<td>{{business.full_address}}</td>
		<td>{{business.city}}</td>
		<td>{{business.stars}}</td>
		<td>{{business.review_count}}</td>
		<td>{{business.open}}</td>
	</tr>
</table>